*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "./base/reset";
@import "./helper/mixin";
@import "./helper/variable";
@import "./layout/header";
@import "./layout/carousel";
@import "./components/button";
@import "./layout/item";
@import "./layout/modal";

